{% extends 'trunks/main/base.html' %}
{% load path_filters %}
{% load permissions_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lst_projets' %}">Liste des Projets</a></li>
      <li class="breadcrumb-item"><a>{{ projet.name }}</a></li>
   </ol>
</nav>
<h2 style="text-align: center;">Liste des Etats du Projet - {{ projet.name }}</h2>
<br>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEtatModal" onclick='setupAutofocus("createEtatModal")' {% if not request.user|has_valid_user_directory %} disabled {% endif %}>
Nouvel état
</button>
<br>    <br>
<hr>
<table id="tableetat" class="table table-bordered table-striped">
   <thead>
      <th>Nom</th>
      <th>Crée le</th>
      <th>Mis à jours le</th>
      <th>Gelé</th>
      <th>Actions</th>
   </thead>
   <tbody>
      {% for etat in lst_etat %}
      <tr style="background-color: {% if etat.freeze %}#cff4fc{% endif %}">
         <td>
{% if etat|is_allowed:request.user %}
    <a href="{% url 'info_etat' etat.id %}">
            {% endif %}
            {% if etat.freeze %}<i class="bi bi-snow2" title="Geler"></i>{% endif %}{{ etat.name }} 
            </a>
         </td>
         <td>{{ etat.created_at|date:"d/m/Y H:i" }}</td>
         <td>{{ etat.updated_at|date:"d/m/Y H:i" }}</td>
         <td>{% if etat.freeze %}Oui{% else %}Non {% endif %}</td>
<td>
    {% if etat|is_allowed:request.user %}

        {% if not etat.freeze %}

            <!-- Renommer -->
            <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#renameEtatModal-{{ etat.id }}">
                <i class="bi bi-pencil-fill" title="Renommer"></i>
            </button>

            <!-- Geler -->
            <a href="{% url 'freeze_etat' etat.id %}"
               onclick="return confirm('Êtes-vous sûr de geler cet état ?');"
               class="btn btn-info btn-sm">
                <i class="bi bi-snow2 text-white" title="Geler"></i>
            </a>

            <!-- Dupliquer -->
            <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#duplicateEtatModal-{{ etat.id }}">
                <i class="bi bi-files" title="Dupliquer"></i>
            </button>

            <!-- Dossier -->
            <button onclick="copyToClipboard('{{ etat.work_directory|os_path }}')"
                    class="btn btn-primary btn-sm">
                <i class="bi bi-folder" title="Ouvrir le dossier de travail"></i>
            </button>

            <!-- SUPPRIMER EN DERNIER -->
            <a href="{% url 'delete_etat' etat.id %}"
               onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet état ?');"
               class="btn btn-danger btn-sm">
                <i class="bi bi-trash-fill" title="Supprimer"></i>
            </a>

        {% else %}

            <!-- Dégeler -->
            <a href="{% url 'defreeze_etat' etat.id %}"
               onclick="return confirm('Êtes-vous sûr de vouloir dégeler cet état ?');"
               class="btn btn-warning btn-sm">
                <i class="bi bi-fire" title="Dégeler"></i>
            </a>

            <!-- Dupliquer -->
            <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#duplicateEtatModal-{{ etat.id }}">
                <i class="bi bi-files" title="Dupliquer"></i>
            </button>

            <!-- Dossier -->
            <button onclick="copyToClipboard('{{ etat.work_directory|os_path }}')"
                    class="btn btn-primary btn-sm">
                <i class="bi bi-folder" title="Ouvrir le dossier de travail"></i>
            </button>

            <!-- SUPPRIMER EN DERNIER -->
            <a href="{% url 'delete_etat' etat.id %}"
               onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet état ?');"
               class="btn btn-danger btn-sm">
                <i class="bi bi-trash-fill" title="Supprimer"></i>
            </a>

        {% endif %}

    {% else %}

        <!-- Pas les droits : tout désactivé -->
        <button class="btn btn-primary btn-sm" disabled>
            <i class="bi bi-pencil-fill" title="Renommer"></i>
        </button>
        <button class="btn btn-primary btn-sm" disabled>
            <i class="bi bi-snow2" title="Geler"></i>
        </button>
        <button class="btn btn-warning btn-sm" disabled>
            <i class="bi bi-fire" title="Dégeler"></i>
        </button>
            <!-- Dupliquer -->
            <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#duplicateEtatModal-{{ etat.id }}">
                <i class="bi bi-files" title="Dupliquer"></i>
            </button>

            <!-- Dossier -->
            <button onclick="copyToClipboard('{{ etat.work_directory|os_path }}')"
                    class="btn btn-primary btn-sm">
                <i class="bi bi-folder" title="Ouvrir le dossier de travail"></i>
            </button>
        <button class="btn btn-danger btn-sm" disabled>
            <i class="bi bi-trash-fill" title="Supprimer"></i>
        </button>

    {% endif %}
</td>

      </tr>
      <!-- Modal pour chaque état -->
      <div class="modal fade" id="duplicateEtatModal-{{ etat.id }}" tabindex="-1"
         aria-labelledby="duplicateEtatModalLabel-{{ etat.id }}" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <form method="post" action="{% url 'duplicate_etat' etat.id %}">
                  {% csrf_token %}
                  <div class="modal-header">
                     <h5 class="modal-title" id="dupplicateEtatModalLabel-{{ etat.id }}">Dupliquer l'état
                        : {{ etat.name }}
                     </h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" {% if not request.user|has_valid_user_directory %} disabled {% endif %}></button>
                  </div>
                  <div class="modal-body">
                     <div class="form-floating">
                        <input type="text" name="new_name" class="form-control"
                           id="floatingNewName-{{ etat.id }}"
                           placeholder="Nom du nouvel état" required>
                        <label for="floatingNewName-{{ etat.id }}">Nom du nouvel état</label>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                     <button type="submit" class="btn btn-primary">Dupliquer</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Rename Modal pour chaque état -->
      <div class="modal fade" id="renameEtatModal-{{ etat.id }}" tabindex="-1"
         aria-labelledby="renameEtatModalLabel-{{ etat.id }}" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <form method="post" action="{% url 'rename_etat' etat.id %}">
                  {% csrf_token %}
                  <div class="modal-header">
                     <h5 class="modal-title" id="renameEtatModalLabel-{{ etat.id }}">Renommer l'état
                        : {{ etat.name }}
                     </h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div class="form-floating">
                        <input type="text" name="new_name" class="form-control"
                           id="floatingNewName-{{ etat.id }}"
                           placeholder="Nouveau nom de l'état" value="{{ etat.name }}" required>
                        <label for="floatingNewName-{{ etat.id }}">Nouveau nom de l'état</label>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler
                     </button>
                     <button type="submit" class="btn btn-primary">Renommer</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      {% endfor %}
   </tbody>
</table>
<!-- Modal Nouvel-->
<div class="modal fade" id="createEtatModal" tabindex="-1" aria-labelledby="createEtatModalLabel"
   aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <form method="post" action="{% url 'info_projet' projet.id %}">
            {% csrf_token %}
            <div class="modal-header">
               <h5 class="modal-title" id="createEtatModalLabel">Créer un nouvel Etat</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
               {{ form.as_p }}
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
               <button type="submit" class="btn btn-primary">Créer</button>
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
   $(document).ready(function () {
       $('#tableetat').DataTable({
               order: [[3, 'desc']],   // colonne date décroissante
           info: false,         // Cache le nombre d'entrées
           paging: false,       // Désactive la pagination
           searching: false,    // Désactive la barre de recherche
           lengthChange: false  // Désactive le choix du nombre de lignes par page
       });
   });
   
</script>

{% endblock %}